{% extends "dictionary/base.html" %}

{% block title %} Practice {% endblock %}

{% block content %}

<script type="text/javascript">
    window.onload = function() {
        document.getElementById("next").focus();
    }
    function playAudio(audio_id) {
        document.getElementById(audio_id).play();
    }
    function endPractice() {
        var end_input = document.createElement("input");
        end_input.setAttribute("type", "hidden");
        end_input.setAttribute("name", "end");
        end_input.setAttribute("value", "End");

        var form = document.getElementById('form_pane');
        form.appendChild(end_input);

        form.submit();
    }
</script>

<style>
    #form_pane {
        width: 400px;
        height: 300px;
    }
    #practice_pane {
        padding-top: 10%;
    }
    #answer{
        display: block;
    }
    .control {
        float: right;
    }
    .correct {
        color: green;
    }
    .incorrect {
        color: red;
    }
</style>

{% load static %}

<form id="form_pane" action="{% url 'dictionary:practice' lang=lang %}" method="post">

    <div class="control">
        <input type="button" value="End" onclick="endPractice()" />
    </div>

    <div id="practice_pane">
        {% if word.pronunciation and word.pronunciation|slice:'-3:' == 'mp3' %}
            <audio id="audio">
                <source src="{% static 'dictionary/files/' %}{{ word.pronunciation }}" type="audio/mpeg">
            </audio>
            <button type="button" onclick="playAudio('audio')">
                <img src="{% static 'dictionary/audio.jpg' %}" height="10">
            </button>
        {% endif %}

        <label>{{ word.word_text }}</label>
        <input id="answer" type="text" value="{{ answer }}" disabled>
        <input id="next" type="submit" value="Next">
    </div>

    <p class="{{ message }}">{{ message }}</p>
    <p class="{{ message }}">{{ message_additional }}</p>

    {% csrf_token %}
</form>

{% endblock %}