{% extends "dictionary/base.html" %}

{% block title %} Practice {% endblock %}

{% block content %}

<script type="text/javascript">
    window.onload = function() {
        document.getElementById("answer").focus();

        try {
            document.getElementById("answer")
                .addEventListener("keyup", function(event) {
                    playAudio("audio");
                    if (this.value != '') {
                        document.getElementById("check_answer").disabled = false;
                    }
            });
        } catch (err) {}
    }
    function playAudio(audio_id) {
        audio = document.getElementById(audio_id);
        if (!!audio) audio.play().catch(err => {console.warn('not allowed to play audio')});
    }
</script>

<style>
    #form_pane {
        width: 400px;
        height: 300px;
    }
    #practice_pane {
        padding-top: 10%;
    }
    #answer{
        display: block;
    }
    .control {
        float: right;
    }
    .correct {
        color: green;
    }
    .incorrect {
        color: red;
    }
</style>

{% load static %}

<form id="form_pane" action="{% url 'dictionary:practice' lang=lang %}" method="post">

    <div id="practice_pane">
        {% if word.pronunciation and word.pronunciation|slice:'-3:' == 'mp3' %}
            <audio id="audio">
                <source src="{% static 'dictionary/files/' %}{{ word.pronunciation }}" type="audio/mpeg">
            </audio>
            <button type="button" onclick="playAudio('audio')">
                <img src="{% static 'dictionary/audio.jpg' %}" height="10">
            </button>
        {% endif %}

        <label>{{ word.word_text }}</label>
        <input id="answer" type="text" name="answer" autocomplete="off">

        {% csrf_token %}
    </div>
    <div class="control">
        <input id="check_answer" type="submit" value="Check answer" disabled>
        <input type="submit" name="end" value="End">
    </div>
</form>

{% endblock %}