{% extends "dictionary/base.html" %}

{% block title %} Practice {% endblock %}

{% block content %}

<script type="text/javascript">

    function playAudio(audio_id) {
        audio = audio_id ? document.getElementById(audio_id) : false;
        if (!!audio) audio.play().catch(err => {console.warn('not allowed to play audio')});
        // re-focus answer input after playing audio
        document.getElementById("answer").focus();
    }

    function handleKeyboard(e) {

        // document events while the input for answer is in focus -> remember to delete the reserved keys from there!
        if (e.key == 0) {
            playAudio('{{ word.pronunciation|slice:':-4' }}');
        }

        {% if not answer and gender_oriented and question_direction == 'from' %}
            {% for gender in genders %}
                if (e.key == {{ forloop.counter }}) {
                    const gender_answer = document.getElementById('{{ gender }}');
                    gender_answer.checked = true;

                    genderChanged();
                }
            {% endfor %}
       {% endif %}
    }

    function answerChanged(e) {
        // delete reserved keys for document events
        if (e.target.value.slice(-1) == '0') {      // reserved for playing audio, if any
            e.target.value = e.target.value.slice(0, -1);
        }

        for (let i = 1; i <= 3; i++) {
            if (e.target.value.slice(-1) == i) {    // reserved for switching gender, if gender oriented practice
                e.target.value = e.target.value.slice(0, -1);
            }
        }
    }

    function genderChanged(e) {
        // decide to enable check button if answer not blank
        if (document.getElementById("answer").value != '') {
            document.getElementById("check_answer").disabled = false;
        }
    }

    {% if answer %}
    window.onload = function() {
        document.getElementById("next").focus();
        document.addEventListener("keydown", handleKeyboard);
    }
    {% else %}
    window.onload = function() {
        document.getElementById("answer").focus();
        document.addEventListener("keydown", handleKeyboard);

        try {
            document.getElementById("answer")
                .addEventListener("keydown", function(event) {
                    {% if gender_oriented and question_direction == 'from' %}
                        if (this.value != '' && document.querySelector('input[name="gender"]:checked') &&
                                document.querySelector('input[name="gender"]:checked').value) {
                            document.getElementById("check_answer").disabled = false;
                        }
                    {% else %}
                        if (this.value != '') {
                            document.getElementById("check_answer").disabled = false;
                        }
                    {% endif %}
            });
        } catch (err) {}
    }
    {% endif %}

    function endPractice() {
        var end_input = document.createElement("input");
        end_input.setAttribute("type", "hidden");
        end_input.setAttribute("name", "end");
        end_input.setAttribute("value", "End");

        var form = document.getElementById('form_pane');
        form.appendChild(end_input);

        form.submit();
    }
</script>

<style>
    #form_pane {
        width: 400px;
        height: 300px;
    }
    #practice_pane {
        padding-top: 10%;
    }
    #answer{
        display: block;
    }
    .control {
        float: right;
    }
    .correct {
        color: green;
    }
    .incorrect {
        color: red;
    }
    .male {
        color: white;
        background-color:rgb(0,0,200);
    }
    .female {
        color: white;
        background-color:rgb(255,0,0);
    }
    .neutral {
        color: white;
        background-color:rgb(125,125,125);
    }
</style>

{% load static %}

<form id="form_pane" action="{% url 'practice:practice' lang=lang %}" method="post">

    <div class="control">
        <input type="button" value="End" onclick="endPractice()" />
    </div>

    <div id="practice_pane">

        {% if question_direction == 'from' %}
            {% if gender_oriented %}
                <h4>Translate from {{ lang }} and pick gender:</h4>
            {% else %}
                <h4>Translate from {{ lang }}:</h4>
            {% endif %}
        {% else %}
            <h4>Translate to {{ lang }}:</h4>
        {% endif %}

        {% if word.pronunciation and word.pronunciation|slice:'-3:' == 'mp3' %}
            <audio id="{{ word.pronunciation|slice:':-4' }}">
                <source src="{% static 'dictionary/files/' %}{{ word.pronunciation }}" type="audio/mpeg" />
            </audio>
            <button type="button" onclick="playAudio('{{ word.pronunciation|slice:':-4' }}')">
                <img src="{% static 'dictionary/audio.jpg' %}" height="10" />
            </button>
        {% endif %}

        <label>{{ word.word_text }}</label>

        {% if gender_oriented and question_direction == 'from' %}
            <!--only add gender oriented practice if translating from unknown language-->
            <input
                id='m'
                type='radio'
                name='gender'
                value='m'
                onchange="genderChanged(event)"
                onclick="document.getElementById('answer').focus()"
                {% if answer and gender_answer == 'm' %}checked{% endif %}
                {% if answer %} disabled {% endif %} />
            <label for='m' class={% if highlighted == 'm' %}'male'{% else %} '' {% endif %}>male</label>
            <input
                id='f'
                type='radio'
                name='gender'
                value='f'
                onchange="genderChanged(event)"
                onclick="document.getElementById('answer').focus()"
                {% if answer and gender_answer == 'f' %}checked{% endif %}
                {% if answer %} disabled {% endif %} />
            <label for='f' class={% if highlighted == 'f' %}'female'{% else %} '' {% endif %}>female</label>
            <input
                id='n'
                type='radio'
                name='gender'
                value='n'
                onchange="genderChanged(event)"
                onclick="document.getElementById('answer').focus()"
                {% if answer and gender_answer == 'n' %}checked{% endif %}
                {% if answer %} disabled {% endif %} />
            <label for='n' class={% if highlighted == 'n' %}'neutral'{% else %} '' {% endif %}>neutral</label>
        {% endif %}

        {% if answer %}
        <input id="answer" type="text" value="{{ answer }}" disabled />
        <input id="next" type="submit" value="Next" />
        {% else %}
        <input id="answer" type="text" name="answer" onkeyup="answerChanged(event)" autocomplete="off" />
        <input id="check_answer" type="submit" value="Check answer" disabled />
        {% endif %}
    </div>

    {% if answer %}
    <p class="{{ message }}">{{ message }}</p>
    <p class="{{ message }}">{{ message_additional }}</p>
    {% endif %}

    {% csrf_token %}
</form>

{% endblock %}