{% extends "dictionary/base.html" %}

{% block title %} Practice {% endblock %}

{% block content %}

<script type="text/javascript">

    function playAudio(audio_id) {
        audio = audio_id ? document.getElementById(audio_id) : false;
        if (!!audio) audio.play().catch(err => {console.warn('not allowed to play audio')});
        // re-focus answer input after playing audio
        document.getElementById("answer").focus();
    }

    function handleKeyboard(e) {

        // document events while the input for answer is in focus -> remember to delete the reserved keys from there!
        if (e.key == 0) {
            playAudio('{{ word.pronunciation|slice:':-4' }}');
        }
    }

    function answerChanged(e) {
        // delete reserved keys for document events
        if (e.target.value.slice(-1) == '0') {      // reserved for playing audio, if any
            e.target.value = e.target.value.slice(0, -1);
        }
    }

    {% if answer %}
    window.onload = function() {
        document.getElementById("next").focus();
        document.addEventListener("keydown", handleKeyboard);
    }
    {% else %}
    window.onload = function() {
        document.getElementById("answer").focus();
        document.addEventListener("keydown", handleKeyboard);

        try {
            document.getElementById("answer")
                .addEventListener("keydown", function(event) {
                    if (this.value != '') {
                        document.getElementById("check_answer").disabled = false;
                    }
            });
        } catch (err) {}
    }
    {% endif %}

    function endPractice() {
        var end_input = document.createElement("input");
        end_input.setAttribute("type", "hidden");
        end_input.setAttribute("name", "end");
        end_input.setAttribute("value", "End");

        var form = document.getElementById('form_pane');
        form.appendChild(end_input);

        form.submit();
    }
</script>

<style>
    #form_pane {
        width: 400px;
        height: 300px;
    }
    #practice_pane {
        padding-top: 10%;
    }
    #answer{
        display: block;
    }
    .control {
        float: right;
    }
    .correct {
        color: green;
    }
    .incorrect {
        color: red;
    }
</style>

{% load static %}

<form id="form_pane" action="{% url 'practice:practice' lang=lang %}" method="post">

    <div class="control">
        <input type="button" value="End" onclick="endPractice()" />
    </div>

    <div id="practice_pane">

        {% if question_direction == 'from' %}
            <h4>Translate from {{ lang }}:</h4>
        {% else %}
            <h4>Translate to {{ lang }}</h4>
        {% endif %}

        {% if word.pronunciation and word.pronunciation|slice:'-3:' == 'mp3' %}
            <audio id="{{ word.pronunciation|slice:':-4' }}">
                <source src="{% static 'dictionary/files/' %}{{ word.pronunciation }}" type="audio/mpeg" />
            </audio>
            <button type="button" onclick="playAudio('{{ word.pronunciation|slice:':-4' }}')">
                <img src="{% static 'dictionary/audio.jpg' %}" height="10" />
            </button>
        {% endif %}

        <label>{{ word.word_text }}</label>
        {% if answer %}
        <input id="answer" type="text" value="{{ answer }}" disabled />
        <input id="next" type="submit" value="Next" />
        {% else %}
        <input id="answer" type="text" name="answer" onkeyup="answerChanged(event)" autocomplete="off" />
        <input id="check_answer" type="submit" value="Check answer" disabled />
        {% endif %}
    </div>

    {% if answer %}
    <p class="{{ message }}">{{ message }}</p>
    <p class="{{ message }}">{{ message_additional }}</p>
    {% endif %}

    {% csrf_token %}
</form>

{% endblock %}